/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * shinobijingie implementation : © <Erin Bernardoni> <erin.bernardoni@outlook.fr>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * shinobijingie.css
 *
 * shinobijingie stylesheet
 *
 */


#card {
    width: 88px;
    height: 142px;
    background-color: blueviolet;
}

#board {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.card-margin {
    margin: 1rem;
}

.cards-stack-empty {
    border: solid 4px #DAB473;
    border-radius: 1rem;
}

.stack-nb {
    text-align: center;
}

#table-center {
    display: flex;
    border-radius: 2rem;
    padding: 1rem 1rem 1rem 1rem;
}

.table-center-deck {
    width: 82px;
    height: 142px;
}

#table-hands {
    padding: 1rem;
    border-radius: 2rem;
    width: 710px;
}

.ninja {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
}

.ninja-master {
    display: flex;
    align-items: center;
    gap: 5px;
}

.ninja_777369 {
 background-color: #777369;
}

.ninja_D1A627 {
    background-color: #D1A627;
}

.ninja_7E1E17 {
    background-color: #7E1E17;
}

.ninja_1D1914 {
    background-color: #1D1914;
}



